{% extends 'base.html' %}

{% block title %}
    Кофеёк
{% endblock %}

{% block body %}
    <h1 class="offset-1">Виды кофейка: </h1>
    <ul>

        {% for coffee in coffees %}
            <div class="media">
            <img class="mr-3 ml-3" src="{{ coffee.img }}" alt="{{ coffee.title }}">
                <legend>
            <a href="{% url 'coffee_url' coffee.id %}">{{ coffee.title }}</a>
            <h5 class="ml-1" >{{coffee.subtitle}}</h5></legend>


        {% empty %}
            <li>пустой список</li>
            </div>
        {% endfor %}

    </ul>

{% endblock %}