{% extends 'base.html' %}
{% block title %}Группы{% endblock %}
{% block body %}
    {% if username %}
        <div style="display: inline; float: left; width: 70%; padding: 10px 60px;">
            <div class="add">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModal"
                        name="add_band1">Добавить музыкальную группу
                </button>
            </div>
        </div>
    {% endif %}

    <div id="band-pages">
            {% for band in bands %}
                <ul>
                    <div id="row">
                        <div style="float: left; width: 70%; padding-left: 40px;">
                            <div class="media">
                                <a href="{% url 'band_url' band.id %}">
                                    <li><h3>{{ band.name|upper }}</h3></li>
                                    <img src="/{{ band.pic }}" style="background-size: 200px"><br>
                                </a>
                            </div>
                        </div>
                    </div>
                </ul>
            {% endfor %}


        <div class="pagination" style="float: left; width: 70%; padding: 20px 80px;">
    <span class="step-links">
        {% if bands.has_previous %}
            <a href="?page={{ bands.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ bands.number }} из {{ bands.paginator.num_pages }}.
        </span>

        {% if bands.has_next %}
            <a href="?page={{ bands.next_page_number }}">следующая</a>
        {% endif %}
    </span>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление группы</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <form method="post" enctype="multipart/form-data" novalidate>
                        <div class="modal-body" style="width: 85%; padding: 15px">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p><label for="id_members">Выберите членов группы:</label>
                                <select name="members" id="id_members" multiple>
                                    {% for member in members %}
                                        <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                                    {% endfor %}
                                </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary" name="add_band">Добавить
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}