<nav class="navbar navbar-expand-sm bg-dark bg-faded sticky-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">Музыкальный Флекс</a>
            </li>
            <li>
                <a class="nav-link" href="/band/">Группы</a>
            </li>
            <li>
                <a class="nav-link" href="/member/">Музыканты</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-3">
            {% if usr_type %}
                <p class="navbar-text">Вы вошли как <a href="{% url 'customers_detail' %}">{{ user }}</a></p>
                <li>
                    <a class href="{% url 'logout' %}" style="color: #ffffff;"> Logout </a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link active" href="{% url 'registration' %}" style="color: #ffffff;"> Registration </a>
                </li>
                <li>
                    <a class='nav-link active' href="{% url 'login' %}" style="color: #ffffff;"> Login </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>